<h1>Saerch Properties By Price</h1>
<form method="get" action="/Properties/DoSearch" class="col-md-6">
    <div class="form-control">
        Min Price: <input name="minPrice" />
    </div>
    <hr />
    <div class="form-control">
        Max Price: <input name="maxPrice" />
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" value="Search" />
</form>
